.container{
  box-sizing: border-box;
  display:grid;
  height:100vh;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 200px 3fr 200px ;
  gap:5px;


}


.container > *{
display:grid;
background-color: darkolivegreen;
border: 2px solid lightsteelblue;

}

.header{
  grid-column: 1 / span 3;
}

.left{

}

.right{

}

.main{

}

.footer{
  grid-column: 1 /span 3;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
   





  }
  .container{
    box-sizing: border-box;
    display:grid;
    height:100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 200px 3fr 200px ;
    gap:5px;
  }  
  .container > *{
display:grid;
background-color: darkolivegreen;
border: 2px solid lightsteelblue;

}

.header{
  height: 20vh;
  grid-column: 1 / span 3;
}

.left{
  grid-column: 1 / span 3;
}

.right{
  grid-column: 1 / span 3;
}

.main{
  grid-column: 1 / span 3;
}

.footer{
  grid-column: 1 /span 3;
}

}