body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  box-sizing: border-box;
  display:grid;
  height:100vh;
  grid-template-columns: 220px 2.5fr 1fr ;
  grid-template-rows: 120px 45px 1fr;
  gap:5px;
  /* row-gap: 5px; */
  /* column-gap: 10p; */
  /* background-color:lightgray; */
  padding:10px;
 
}


.container > *{
  display:grid;
  background-color: rgb(216, 216, 216);
  border:1px solid rgb(200, 200, 200);
  /* border-radius: 10px; */
  padding:10px;
/* border: 2px solid lightsteelblue; */

}

.header{
  grid-column: 1 / span 3;
  padding:20px 20px 20px 30px;
  background-color: rgb(23, 93, 199);
  color:white;
  /* text-align: center; */
}

.left{

}

.make-model-year{
display:flex;
flex-direction: column;
}

.right{

}

.main{
  grid-column: 2 / span 2;
display:flex;
flex-direction: column;
padding:15px;
background-color: white;
}

.footer{
  grid-column: 1 /span 3;
}

.nav{
  grid-column: 1 / span 3;
  justify-content: center;
/* background-color: lightgray; */
  
}
ul{
  margin:2px;
  padding:0;
  list-style-type: none;
}


/* ------ SMALLER SCREENS -------- */
@media only screen and (max-width: 1000px) {

}









@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
   
  }
  .container{
    box-sizing: border-box;
    display:grid;
    height:100vh;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-columns: 200px 3fr 200px ; */
    gap:5px;
  }  
  .container > *{
display:grid;
border-radius: 5px;
/* background-color: rgb(45, 112, 133); */
/* border: 2px solid rgb(50, 118, 207); */

}

.header{
  background-color: rgb(23, 93, 199);
  height: 20vh;
  grid-column: 1 / span 3;
}

.left{
  background-color: white;
  grid-column: 1 / span 3;
}

.right{
  grid-column: 1 / span 3;
}

.main{
  background-color:rgb(230, 230, 230);
  grid-column: 1 / span 3;
}

.footer{
  grid-column: 1 /span 3;
}

}